.main {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.default{
  flex-direction: row;
  background-color: red;
}

.imageText {
  flex-direction: row-reverse;
  background-color: blue;
}

.main img {
  width: 100%;
  height: auto;
}

.main .overline {
  color: green;
}